<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/FlightDB</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">root</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hbm2ddl.auto">create</property>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.Booking"></mapping>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.FlightCompany"></mapping>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.Traveler"></mapping>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.Adult"></mapping>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.Child"></mapping>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.SAS"></mapping>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.Emirates"></mapping>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.Norwegian"></mapping>
			<mapping class="Grupp1.Newton.FlightBookingSystem.models.RyanAir"></mapping>
	</session-factory>
</hibernate-configuration>