/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#anchorPane1{
	-fx-background-image:url(/application/new-world-template.png);
	-fx-background-repeat: stretch;
	-fx-background-color:null;
}

#anchorPane2{
	
	-fx-background-color: rgba(255.0, 165.0, 0.0, 0.7); 
	-fx-background-radius: 10.0;
	-fx-effect: dropshadow(gaussian , black , 10.0,0.0,0.0,0.0 );
}

#hbox{
	-fx-background-color:rgb(255.0,165.0,0.0,0.7);
	-fx-effect: dropshadow(gaussian , black , 10.0,0.0,0.0,0.0 );
}

#bookBtn{
	-fx-background-color:rgb(255.0,165.0,0.0,0.0);
}

#changeBookingBtn{
	-fx-background-color:rgb(255.0,165.0,0.0,0.0);
}

#myTripsBtn{
	-fx-background-color:rgb(255.0,165.0,0.0,0.0);
}

#cancelFlightBtn{
	-fx-background-color:rgb(255.0,165.0,0.0,0.0);
}

#searchBtn{
	-fx-background-color: 
	
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 11.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}

#exitBtn{
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0;
    -fx-text-fill: white;
}

#nextBtn{
	-fx-background-color: 
	
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 11.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}

#backBtn{
-fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0.0%, #f8c202 50.0%, #eea10b 100.0%),
        linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0,255.0,255.0,0.9), rgba(255.0,255.0,255.0,0.0));
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 11.0px;
    -fx-padding: 5.0 10.0 5.0 10.0;
}

.combo-box{
	   -fx-background-color:
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #395306;
}

#plusAdultBtn{
    -fx-background-color:
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #395306;
}

#minusAdultBtn{
    -fx-background-color:
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #395306;
}

#plusKidBtn{
    -fx-background-color:
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #395306;
    }
    

#minusKidBtn{
    -fx-background-color:
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #395306;
}

#plusHandicapedBtn{
    -fx-background-color:
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #395306;
}

#minusHandicapedBtn{
    -fx-background-color:
        linear-gradient(#ffea6a, #efaa22),
        radial-gradient(center 50.0% -40.0%, radius 200.0%, #f8c202 45.0%, #eea10b 50.0%);
    -fx-background-radius: 6.0, 5.0;
    -fx-background-insets: 0.0, 1.0;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.4) , 5.0, 0.0 , 0.0 , 1.0 );
    -fx-text-fill: #395306;
    }